/*
*************************************************************** 
Common to body for every part of the document 
***************************************************************
*/
body {
    margin: 0;
    padding: 0;

    color: white;
}

body * {
    box-sizing: border-box;
}

/*
*************************************************************** 
Info and Plot Screen 
***************************************************************
*/
#info-and-plot-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#info-and-plot-information {
    width: 595px;
    height: 390px;
    display: flex;
    flex-direction: row;
}

.info-and-plot-text-header {
    font-family: digital-dream;
    font-weight: bold;
    font-size: 15px;
    color: #af2bd6;
    margin-bottom: .25em;
    letter-spacing: 0.15em;
}

.info-and-plot-text-body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 150%;
}

.info-and-plot-divider {
    display: flex;
    flex: 7;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-and-plot-text-address {
    text-indent: 3em;
}

p {
    margin: 0px;
}

/*
*************************************************************** 
Game Screen 
***************************************************************
*/
#game-screen {
    display: flex;
    flex-direction: row;
    /* TODO: This never used to be necessary, but now without this scrollbars
       are appearing on the side and bottom of the window, so something must be
       hanging off of the page by a pixel or two. Look into this further. */
    overflow: hidden;

    background-color: black;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#scanner {
    flex: 1;
}

#scannerCanvas,
#projectilesScannerCanvas,
#effectScannerCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#hud {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

#radar {
    height: 300px;
    border: 1px solid white;
}

#info-panel {
    flex: 1;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.info-panel-line,
.info-panel-line-dots,
.info-panel-line-text,
.info-panel-line-lives {
    margin-top: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

.info-panel-line-dots {
    display: flex;
    justify-content: space-between;
}

.info-panel-line-text {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.info-panel-line-lives {
    display: flex;
    align-items: center;
}

.info-panel-line-center-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.info-panel-keypress-help-text {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.lives-image {
    width: 42px;
    height: 37px;
    background: url(images/PlayerShip.png);
    display: inline-block;
}

.powerup-image {
    margin-left: 5px;
}

.double-points-powerup-image {
    display: flex;
    margin-left: 10px;
}

.vertically-aligned {
    display: flex;
    align-items: center;
}

.blue-dot,
.green-dot,
.yellow-dot,
.red-dot,
.grey-dot {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 5px;

    /* This is what makes it a circle */
    border-radius: 50%;
}

.blue-dot {
    background: radial-gradient(at 35% 35%, white 0%, blue 20%, darkblue 100%);
}

.green-dot {
    background: radial-gradient(at 35% 35%, white 0%, lime 20%, darkgreen 100%);
}

.yellow-dot {
    background: radial-gradient(at 35% 35%, white 0%, yellow 20%, darkorange 100%);
}

.red-dot {
    background: radial-gradient(at 35% 35%, white 0%, red 20%, darkred 100%);
}

.grey-dot {
    background: radial-gradient(at 35% 35%, white 0%, darkgrey 20%, darkslategrey 100%);
}

#fuel-bar {
    height: 10px;
    width: 85px;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
    display: inline-block;

    background: linear-gradient(to right, lime 50%, yellow 50% 75%, red 75%);
}

#spare-parts-bar {
    height: 10px;
    width: 85px;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
    display: inline-block;

    background: linear-gradient(to right, blue 0% 100%);
}

body {
    font-family: 'EspySansRevivedNineBold', sans-serif;
    font-size: 11px;
    color: #bfbebe;
}

@font-face {
    font-family: 'EspySansRevivedNineBold';
    src: url('fonts/EspySansRevivedNine-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'digital-dream';
    src: url('fonts/digital-dream.regular.ttf') format('truetype');
}

/*
*************************************************************** 
Bestiary Screen 
***************************************************************
*/
#bestiary-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#bestiary-information {
    width: 595px;
    height: 390px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.bestiary-header {
    font-family: digital-dream;
    font-weight: bold;
    font-size: 15px;
    color: #af2bd6;
    letter-spacing: 0.15em;
}

.bestiary-information-column {
    display: flex;
    flex: 20;
    flex-direction: column;
    justify-content:
        space-between;
    gap: 0.75em;
}

.bestiary-image-and-text-container {
    display: flex;
    flex: 2;
    align-items: center;
}

.bestiary-text-body {
    font-family: sans-serif;
    font-size: 10px;
    line-height: 150%;
    flex: 5;
}

.bestiary-image-container {
    display: flex;
    align-items: center;
    flex: 2;
    gap: 0.5em;
    justify-content: center;
}

/*
*************************************************************** 
High Score Screen 
***************************************************************
*/
#display-highscores-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#display-highscores-information {
    width: 595px;
    height: 390px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.highscore-table {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: digital-dream;
    font-weight: bold;
    font-size: 15px;
    color: #af2bd6;
    letter-spacing: 0.15em;
}

.highscore-row {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
}

.highscore-highlight {
    color: red;
}

.highscore-row-number {
    flex: 7;
}

.highscore-row-name {
    flex: 54;
}

.highscore-row-score {
    flex: 15;
    text-align: right;
}

.highscore-row-level {
    flex: 15;
    text-align: right;
}

.highscore-keybinding-info-row {
    display: flex; 
    flex-direction: row;
}

.highscore-keybinding-info-row-label {
    flex: 1;
}

.highscore-keybinding-info-row-data {
    flex: 1;
    display: flex;
    justify-content: center;
}

/*
*************************************************************** 
Enter New High Score Screen 
***************************************************************
*/
#enter-new-highscore-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 150%;
    font-weight: bold;
}

#enter-new-highscore-information {
    width: 595px;
    height: 390px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#enter-new-highscore-input {
    font-family: digital-dream;
    font-weight: bold;
    font-size: 15px;
    color: #af2bd6;
    background: transparent;
    border: none;
}